<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/public/assets/style.css" />
    </head>
    <body>
        <h1>Hello {{ .Name }}</h1>

        {{ if .Age }}
        <h2>Age: {{.Age}}</h2>
        {{ end }}

        {{ if .Message}}
        <p>{{ .Message}}</p>
        {{ end }}

        <form action="/" method="POST">
            <input type="text" name="message" />
            <button type="submit">Send Message</button>
        </form>
    </body>
</html>
